* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#shorten-btn {
    height: 2.5rem;
    width: 6rem;
    background-color: blue;
    color: white;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}

#inputVal {
    width: 40rem;
    height: 2.5rem;
    padding: 0rem 1rem;
    font-size: 18px;
}

#readonly {
    width: 46rem;
    height: 2.5rem;
    font-size: 18px;
    padding: 0rem 1rem;
}